#itemformpic{
    background: url("assignment/JS/InMemory-POS/assest/itemm.jpg");
    background-position: center;
    background-size: cover;
}
#customerPic{
    background: url('assignment/JS/SPA/assest/imag1.jpg');
     background-size: cover;
    background-position: center ;
}
#oderspic{
    background: url('assignment/JS/InMemory-POS/assest/oder.jpg');
    background-size: cover;
    background-position: center;
}
#oderspic2{
    background: url('assignment/JS/SPA/assest/laptop-shopping-bags-online-shopping-concept.jpg');
     background-size: cover;
    background-position: center;
}
#home1pic{
    background-image: url('assignment/JS/SPA/assest/3d-hand-making-cashless-payment-from-smartphone.jpg');
    background-size: cover;
    background-position: center;
}
#home2pic{
    background-color: #8bb9fe;
    background-size: cover;
    background-position: center;
}
span{
    color: red;
    font-size: 12px;
}
#notification {
    position: absolute;
    top: 80%;
    left: 45%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 9999;
    width: 300px;
    height: 80px;
}

#notification.success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
    font-size: 20px;
    text-align: center;
}

#notification.error {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}
