
#assignmet>section{
    position: relative;
    display: flex;
    justify-content:space-between;
    overflow: hidden;


}
#assignmet>section>a>div{
    width: 35.353vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 0px;
    perspective:400px;
   /* animation-name:flow;
    animation-duration:0.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;*/
}
#assignmet>section>a>div>h3{
    position: relative;
    top: -28px;
    left: -15px;
}
#assignmet>section>a>div>h5{
    position: relative;
    top: -26px;
    left: -14px;
}
#assignmet>.navDiv{
    display: flex;
    justify-content: space-around;
    line-height:17px;
    position: absolute;
    right:100px;
    left: 0px;
    bottom: 120px;

}
#assignmet>section>a>div>img{
    transform:rotateY(334deg);
    transition:all 0.3s;
}
#assignmet>section>a>div>img:hover{
    transform:scale(1.2) ;
}
img{
    transition:0.3s;
    transition-timing-function: ease;
}
img:hover{
    transform:scale(1.2) ;

}
@keyframes letter-change-color {
    from{
        color: black;
    }
    to{
        color: #0b7285;
    }
}
@keyframes lineanimate {
    from{
       height:  0px;
    }
    to{
        height: 423px;
    }
}
/*AboutMe*/

@keyframes load {
    to{
        width: 0%;
    }

}
@keyframes line {
    50%{
        color: transparent;
    }

}
/*home*/
@keyframes changecolor {
    0%{
        color:white;


    }
    25%{
        color: #332f2b;
        transform:rotate(0deg);
        margin-left: 36px

    }
    50%{
        color: crimson;
        transform:rotate(91deg);
        margin-left: 292px

    }
  75%{
color: #228be6;
}
}
@keyframes anima {

    40% {
        transform: translate(50px, 0) scale(.7);
        opacity: 1;
        color: #302b63;
    }
    60% {
        color: wheat;
    }
    80% {
        transform: translate(0) scale(2);
        opacity: 0;
    }
    100% {
        transform: translate(0) scale(1);
        opacity: 1;
    }
}