
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100;1,200&family=Sono:wght@500&display=swap');
/*home*/


img{
    transition:0.3s;
    transition-timing-function: ease;
}
img:hover{
    transform:scale(1.2) ;

}
@keyframes letter-change-color {
    from{
        color: black;
    }
    to{
        color: #0b7285;
    }
}
@keyframes lineanimate {
    from{
       height:  0px;
    }
    to{
        height: 500px;
    }
}
/*AboutMe*/

@keyframes load {
    to{
        width: 0%;
    }

}
@keyframes line {
    50%{
        color: transparent;
    }

}
/*home*/
@keyframes changecolor {
    0% {
        color: white;
    }
    25% {
        color: #332f2b;
        transform: rotate(0deg);
        margin-left: 36px;
        animation-delay: 2s;
    }
    50% {
        color: crimson;
        transform: rotate(91deg);
        margin-left: 292px

    }
    75% {
        color: #228be6;
    }
}


@keyframes anima {
/*0%{
    animation-delay:20S;
}*/
    40% {
        transform: translate(50px, 0) scale(.7);
        opacity: 1;
        color: #302b63;
    }
    60% {
        color: wheat;
        animation-delay: 4s;
    }
    80% {
        transform: translate(0) scale(2);
        opacity: 0;
    }
    100% {
        transform: translate(0) scale(1);
        opacity: 1;
    }
}
/*All header color*/
@keyframes hovebefor {
    to{
        width: 100%;
    }
}