
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100;1,200&family=Sono:wght@500&display=swap');
/*home*/





/*#home .homeOne {
    position: absolute;
    width: 60%;
    height: 70%;
    top: 0px;
    left: 0px;
    background-color: #1a73e8;
    background: url("/assest/image/homeOne.jpg");
    background-size: cover;
}*/










#assignmet>section{
    position: relative;
    display: flex;
    justify-content:space-between;
    overflow: scroll;
    /*animation-name:flow;
    animation-duration:0.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;*/

}



#assignmet>section>a>div{
    width: 35.353vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 0px;
    perspective:400px;
   /* animation-name:flow;
    animation-duration:0.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;*/
}
.assign:checked~.num1{
    margin-left: 0;
}
.assign2:checked~.num2{
    margin-left: -100%;
}
#assignmet>section>a>div>h3{
    position: relative;
    top: -28px;
    left: -15px;
}
#assignmet>section>a>div>h5{
    position: relative;
    top: -26px;
    left: -14px;
}
#assignmet>.navDiv{
    display: flex;
    justify-content: space-around;
    line-height:17px;
    position: absolute;
    right:100px;
    left: 0px;
    bottom: 120px;
    overflow: scroll;
    cursor: pointer;

}
#assignmet>section>a>div>img{
    transform:rotateY(334deg);
    transition:all 0.3s;
}
#assignmet>section>a>div>img:hover{
    transform:scale(1.2) ;
}
img{
    transition:0.3s;
    transition-timing-function: ease;
}
img:hover{
    transform:scale(1.2) ;

}
@keyframes letter-change-color {
    from{
        color: black;
    }
    to{
        color: #0b7285;
    }
}
@keyframes lineanimate {
    from{
       height:  0px;
    }
    to{
        height: 423px;
    }
}
/*AboutMe*/

@keyframes load {
    to{
        width: 0%;
    }

}
@keyframes line {
    50%{
        color: transparent;
    }

}
/*home*/
@keyframes changecolor {
    0%{
        color:white;


    }
    25%{
        color: #332f2b;
        transform:rotate(0deg);
        margin-left: 36px;
        animation-delay: 2s;
    }
    50%{
        color: crimson;
        transform:rotate(91deg);
        margin-left: 292px

    }
  75%{
color: #228be6;
}
}
@keyframes anima {
/*0%{
    animation-delay:20S;
}*/
    40% {
        transform: translate(50px, 0) scale(.7);
        opacity: 1;
        color: #302b63;
    }
    60% {
        color: wheat;
        animation-delay: 4s;
    }
    80% {
        transform: translate(0) scale(2);
        opacity: 0;
    }
    100% {
        transform: translate(0) scale(1);
        opacity: 1;
    }
}
/*All header color*/
@keyframes hovebefor {
    to{
        width: 100%;
    }
}